<section class="about">
    <div class="container">
        <label class="about__label" for="about-tile">Tradition and love</label>
        <h2 class="about__title" id="about-tile">How it's made</h2>
        <div class="about-description">
            <picture>
                <source srcset="./images/how-its-made/cow/mobile/cow-mobile@2x.png, ./images/how-its-made/cow/mobile/cow-mobile@3x.png " type="image/png" media="(max-width:767px)" />
                <img src="./images/how-its-made/cow/mobile/cow-mobile@2x.png" alt="Фотография" />
            </picture>
            <b class="about-description__bold">
                Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                egestas eros.
                Maecenas eleifend erat at justo fringilla.
            </b>
            <p class="about-description__text">
                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
                placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,<br>
                <br>
                Aliquam erat volutpat. Aenean accumsan.
            </p>
            <button class="about-description__btn" type="button">Read more
                <svg class="about-description__icon" width="5" height="8">
                    <use href="./images/sprite/sprite.svg#icon-arrow"></use>
                </svg>
            </button>
        </div>
    </div>
</section>